.container {
  width: 80%;
  margin: 10%;
  text-align: center;
}

.ivy {
  background-image: url("../images/ivy_art2.png");
  background-size: 100%;
}

img {
  width: 200px;
}

.white {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding: 13px;
  border: 1px solid green;
}

.single-size {
  width: 300px;
}
