@import "bulma";

html {
    background: rgba(0,0,0,0);
    user-select: none;
}

a {
  text-decoration: none
}

.relative {
  display: inline-block;
  padding: 1%;
}

:hover {
    cursor: pointer;
}

.container {
  font-family: 'Pacifico', cursive;
  // width: 80%;
  margin: 0 10%;
  text-align: center;
}

.ivy {
  // min-width: 100%;
  // min-height: 100%;
  background: url("../images/ivy_art2.png");
  background-size: cover;
  background-color: #E7D1A2;
}

.image-container {
    margin: 2%;
}

.small-photo {
  object-fit: fill;
  display: inline-block;
  max-width: 255px;
  max-height: 200px;
  border-radius: 10px;
  //margin: 10px;
  border: 1px solid green;
  box-shadow: 5px 5px 20px #000000;

      &:hover {
          background: #fff;
          color: darken(green, 5%);
          border: 4px solid green;
      }
}

.like-number {
  // position: absolute;
  // bottom: 12%;
  // right: 45%;
  //background: white;
  border-radius: 10px;
  padding: 2px;
  margin-top: -12%;
  z-index: 1;
  color: rgba(255, 255, 255, 0);
  background: rgba(25, 25, 25, .5);
  font-size: 1.25rem;
  width: 55px;
  text-align: center;
}

.grow {
    transition: all .4s ease-in-out;
    background: rgba(25, 25, 25, .2);

}
.grow:hover {
    transform: scale(1.2);
    background: rgba(25, 25, 25, .7);
    color: rgba(255, 255, 255, 1);
}

.white {
  background-color: #F0FFFF;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  width: 400px;
  border-radius: 10px;
  padding: 4%;
  border: 1px solid;
  margin: 5% 35%;

      .label {
          color: #54C571;
          font-size: 1.7rem;
          text-shadow:
          2px 2px 0 #254117,
          -1px -1px 0 #254117,
          2px -1px 0 #254117,
          -1px 1px 0 #254117,
          1px 1px 0 #254117;
      }

      .field {
          margin: 15px;
      }

      .button {
          margin: 0 121%;
      }
}

.tag-list {
  list-style: none;
  padding: 5px;
}

tags-input {
    width: 99px;
    padding: 1%;
}

.filestack {
    border-radius: 5px;
    padding: 2px;

    &:hover {
        transform: scale(.95);
    }
}


.single-size {
  margin: 5% 10%;
  border-radius: 10px;
  border: 1px solid green;
  box-shadow: 5px 5px 20px #000000;
  opacity: 1;
  position: relative;

      &:hover {
          opacity: 0.85;
          transition: opacity .5s ease-in-out;
      }
}

.single-size:hover + .heart
{
    opacity: 1;
    transition: opacity .5s ease-in-out;
 }

.heart {
  //position: absolute;
  // top: 50%;
  // right: 50%;
  display: inline;
  opacity: 0;
  width: 15%;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 42%
}

.single-submit {
    margin: 0 45%;
}


.sign-out {
  // position: absolute;
  // top: 10px;
  // left: 10px;
  // width: 60px;
  // height: 20px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  background: white;
  float: left;

   &:hover {
       color: red;
   }
}

.post {
  float: left;
  // height: 20px;
  // width: 100px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid green;
}

.comment-box {
  margin-top: 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}

.single-container {
  width: 100%;
}

.likes {
  background: #35CE8D;
  border-radius: 5px;
  width: 35%;
  line-height: 2.5rem;
  margin: 0 auto;
}

.logo {
    margin: 1% 42%;
    letter-spacing: -5px;
    font-size: 5rem;
    color: #35CE8D;
    text-align: center;
    display: inline;
    background: #BCD8B7;
    border-width:4px 30px 4px 30px;
    border-style: solid;
    border-color: #86E7B8 #35CE8D #6BA292 #35CE8D;
    border-radius:0 120px 0 120px;
    padding: .5% 2%;
}

.comment-box {
    line-height: 2rem;
    margin: 1% auto;
}

.user-inputs {
    width: 65%;
    background: #86E7B8;
    margin: 0 15%;
}
