
a {
  text-decoration: none
}

.relative {
  position: relative;
}

.container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  text-align: center;
}

.ivy {
  background-image: url("../images/ivy_art2.png");
  background-size: 100%;
  background-color: #E7D1A2;
}

// .water{
//   background-image: url("../images/water1.jpg");
// }

.small-photo {
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid green;
  box-shadow: 5px 5px 20px #000000;
}

.drop-shadow{
  box-shadow: 5px 5px 20px #000000;
}

.like-number {
  position: absolute;
  bottom: 12%;
  right: 45%;
  background: white;
  border-radius: 3px;
  padding: 2px;
  opacity: .4;
}

.small-photo:hover + .like-number
  {
      opacity: 1;
  }



.white {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding: 13px;
  border: 1px solid green;
}

.single-size {
  margin-top: 30px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid green;
  box-shadow: 5px 5px 20px #000000;
}

.single-size:hover + .thumbs-up
  {
      opacity: 1;
  }

.thumbs-up:hover {
  opacity: 1;
}

.thumbs-up {
  position: absolute;
  top: 30%;
  right: 50%;
  opacity: 0;
  width: 80px;
  background-color:rgba(255, 255, 255, .5);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}


.sign-out {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 20px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 4px;
  background: white;
}

.post {
  height: 20px;
  width: 100px;
  background: white;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid green;
  color: black;
}

.comment-box {
  margin-top: 4px;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, .6);
}

.single-container {
  width: 100%;
}

.likes {
  background: white;
  border-radius: 5px;
}
