<audio autoplay>   <source src="../images/theme.mp3" type="audio/mpeg"> </audio>
<div class="sign-out" ng-click="signOut()">Sign out</div>

<div class="water">
  <div><a class="post" href="#!/upload">Post a photo</a></div>
    <div>
      <div ng-repeat="photo in photos" class="relative" value="{{ photo }}">
        <div ng-click="photoPick(photo.id)">
        <img class="small-photo" ng-src="{{ photo.photoUrl }}" alt="Image"/>
      </div>

      <option value="{{ photo.likes }}" class="like-number"
      ng-pluralize count="photo.likes" when="{1: '1 like', 'other': '{} likes'}">
      {{photo.likes}}
      </option>

    </div>
  </div>
</div>
