<div class="white">

<div ng-repeat="msg in notifications" class="notification is-primary">
   <button ng-click="removeMsg(msg)" class="delete"></button>
   {{ msg }}
<!--   <p class="content">
     {{ msg }}
   </p>  -->
 </div>


<form ng-submit="login(person)">
  <div class="field">
    <label class="label">Email</label>
    <p class="control">
      <input class="input" type="text" placeholder="Name" ng-model="person.email">
    </p>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <p class="control">
      <input class="input" type="text" placeholder="Password" ng-model="person.password">
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
  </div>
</form>

</div>
