<audio autoplay>   <source src="../images/bird2.mp3" type="audio/mpeg"> </audio>
<div class="white drop-shadow">

<div ng-repeat="msg in notifications" class="notification is-primary">
   <button ng-click="removeMsg(msg)" class="delete"></button>
   {{ msg }}
</div>


<form ng-submit="login(person)">
  <div class="field">
    <label class="label">Email</label>
    <p class="control">
      <input class="input" type="text" placeholder="Name" ng-model="person.email">
    </p>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <p class="control">
      <input class="input" type="password" placeholder="Password" ng-model="person.password">
    </p>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
  </div>
</form>

</div>
