<div class="sign-out" ng-click="signOut()">
    Sign out
</div>


<div class="single-container">

<div>
    <a class="post" href="#!/home">Go Home</a>
</div>
<div>
    <img src="{{photo.photoUrl}}" class="single-size relative" ng-dblclick="dolike()">
        <img class="heart" src="../images/heart.png"/>
            <div class="likes">
                {{likes}} people like this photo!
            </div>
</div>


<div class="comment-box" ng-repeat="comment in comments">{{comment.name}}{{comment.text}}</div>
<div class="comment-box">{{recent}}</div>

<form ng-submit="enter(comment)">
  <div class="field">
<!--    <label class="label">More</label> -->
    <p class="control">
      <input class="input" type="text" placeholder="Comment" ng-model="comment.text">
    </p>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
  </div>

</form>

</div>
