<div class="sign-out" ng-click="signOut()">Sign out</div>

<div><a class="post" href="#!/home">Go Home</a></div>
<br>
<h1 class="logo">Ivy</h1>


<div class="white">



<form ng-submit="upload(photo)">
  <div class="field">
    <label class="label">Put you photo url here.</label>
    <p class="control">
      <input class="input" type="text" placeholder="Photo Url" ng-model="photo.photoUrl">
      <input type="button" value="Upload" onclick="showPicker()" class="filestack"/>
    </p>
  </div>

  <div class="field">
    <label class="label">Put your description here.</label>
    <p class="control">
      <input class="input" type="text" placeholder="Photo Description" ng-model="photo.title">
    </p>
  </div>

  <label class="label">Add tags here.</label>
  <tags-input ng-model="tags"></tags-input>


  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
  </div>
</form>

</div>
